<!DOCTYPE html>
<html>
<head>
	<title>五个带颜色的大按钮</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
		button {
			background-color: #4CAF50; /* 绿色 */
			border: none;
			color: white;
			padding: 30px 60px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 24px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		.col {
			float: left;
			width: 50%;
			padding: 15px;
		}
	</style>
</head>
<body>
	<div class="column">
	<div class="welcome">{{ name }}，你好！</div>
    <div class="welcome"><a href = "../logout">登出</a></div>
	<div class="row">
		<a href="../file">
			<button class="btn">Button 1</button>
		</a>
		<a href="../test">
		<button class="btn">Button 2</button>
		</a>
		<button class="btn">Button 3</button>
	</div>
	<div class="row">
		<button class="btn">Button 4</button>
		<button class="btn">Button 5</button>
		<button class="btn">Button 6</button>
	</div>
	
	<div class="last"> 自动化分析平台</div>
</div>
</body>
</html>